include:
  - template: 'Workflows/MergeRequest-Pipelines.gitlab-ci.yml'
  - template: 'Workflows/Branch-Pipelines.gitlab-ci.yml'
  - template: 'Security/Secret-Detection.gitlab-ci.yml'

    # Semantic Release Job
  - project: 'presage/infrastructure/ci-templates'
    ref: 'main'
    file: 'semantic-release.yml'

    # Checkout Tokens for Semantic Release
  - project: 'presage/infrastructure/ci-templates'
    ref: 'main'
    file: 'prebuild.yml'

    # Run Safety Upstream Dependenacy check
  - project: 'presage/infrastructure/ci-templates'
    ref: 'main'
    file: 'security/safety.yml'

    # Checkout CI/CD Scripts
  - project: 'presage/infrastructure/ci-templates'
    ref: 'main'
    file: 'scripts-checkout.yml'

    # Scan SAST
  - project: 'presage/infrastructure/ci-templates'
    ref: 'main'
    file: 'security/sast_scan.yml'

workflow:
  rules:
  - if: $CI_COMMIT_TAG
    when: never
  - if: $GITLAB_USER_EMAIL == "admins@presagesecurity.com"
    when: never
  - if: $CI_COMMIT_BRANCH == "main"

variables:
  AWS_DEFAULT_REGION: us-east-1

stages:
  - pre
  - security
  - test
  - semantic_release

