**.DS_Store**
../.DS_Store
*.pyc
__pycache__/
videos
logs
build
dist
presage_physiology/temp_frames/
**__pycache__**
**.idea**
presage_physiology/Videos/
presage_physiology/logs
**logs**
test.py
tests/test_videos/*
**.pytest_cache**
Presage_Technologies.egg-info